.recommend {}

.recommend_title {
    text-align: center;
    font-weight: 600;
    text-transform: capitalize;
    color: var(--text-color);
}

#footer {
    width: 100%;
}

.thumbnail-wrapper {
    height: 200px;
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(224,224,224,1) 100%);
}
.coffee {
    fill: #914300;
    opacity: 1;
    animation-fill-mode: forwards;
}

.cup {
    fill: #c4c4c4;
    opacity: 1;
    animation-fill-mode: forwards;
}

.java-vec{
    stroke-width: 0.6;
    stroke: rgb(214, 114, 0);
    fill: rgb(30.588235%,47.058824%,58.823529%) ;
    stroke-dasharray: 500;
    stroke-dashoffset: 500;
    animation: line 8s ease-in-out infinite;
}
.fire-vec{
    stroke-width: 0.5;
    stroke: var(--color-blue);
    fill:  var(--color-orange);
    stroke-dasharray: 500;
    stroke-dashoffset: 500;
    animation: line 8s ease-in-out infinite;
}

.new-vector{
    fill: var(--color-blue);
    stroke-width: 0.8;
    stroke: var(--color-orange);
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: line 4s ease-in-out infinite;
}

.spring-vec{
    fill: #77bc1f;
    stroke-width: 5;
    stroke: var(--color-orange);
    stroke-dasharray: 2000;
    stroke-dashoffset: 2000;
    animation: line 3s ease-in-out infinite;
}
.thumbnail-wrapper{
    display: flex;
    justify-content: center;
    align-items: center
}
.article-item > a{
    display: inline-block; 
    width: 100%;
    overflow: hidden;
    white-space: nowrap; 
    text-overflow: ellipsis;
    font-size: 1.3rem;
    color: var(--color-blue);
    text-transform: capitalize;
}
.article-item {

}
@keyframes line {
    to {
        stroke-dashoffset: 0;
    }
}
