 .easter-egg{
    display: none;
}

/* .trigger-egg:hover + .easter-egg{
    display: block;
}  */


.recommend_title {
    text-align: center;
    font-weight: 600;
    text-transform: capitalize;
    color: var(--text-color);
}

#footer {
    width: 100%;
}

.thumbnail-wrapper {
    position: relative;
    height: 200px;
    /* background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(224,224,224,1) 100%); */

    transition: transform .8s ease 0s;
    background: rgb(255, 255, 255);
    background: radial-gradient(circle, rgba(255, 255, 255, 1) 17%, rgba(240, 240, 240, 1) 100%);
}
.thumbnail-wrapper:hover {
    transform: scaleX(103%) scaleY(103%);
}


.java-vec {
    stroke-width: 0.6;
    stroke: rgb(214, 114, 0);
    fill: rgb(30.588235%, 47.058824%, 58.823529%);
    stroke-dasharray: 100;
    /* stroke-dashoffset: 3000; */
    animation: java 6s ease-in-out infinite;
}

.fire-vec {
    stroke-width: 0.6;
    stroke: var(--color-blue);
    fill: var(--color-orange);
    stroke-dasharray: 100;
    /* stroke-dashoffset: 3000; */
    animation: java 6s ease-in-out infinite;
}

.new-vector {
    fill: var(--color-blue);
    stroke-width: 1;
    stroke: var(--color-orange);
    stroke-dasharray: 100;
    /* stroke-dashoffset: 1000; */
    animation: java 4s ease-in-out infinite;
}

.spring-vec {
    fill: #77bc1f;
    stroke-width: 6;
    stroke: var(--color-orange);
    stroke-dasharray: 1000;
    stroke-dashoffset: 4000;
    animation: spring 3s ease-in-out infinite;
}

.line-vec {
    stroke-width: 8;
    stroke: var(--color-blue);
    stroke-dasharray: 2000;
    stroke-dashoffset: 800;
    animation: line 2s ease-in-out infinite;
}

.line1-vec {
    stroke-width: 12;
    stroke: var(--color-orange);
    stroke-dasharray: 2000;
    stroke-dashoffset: 800;
    animation: line 2s ease-in-out infinite;
}

.thumbnail-wrapper {
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center
}

/* 
Lastest Article List
*/

.article-item{
    display: flex;
    max-height: 200px;
    margin-bottom: 23px;
    width: fit-content;
    padding: 0;
}
.article-thumb_wrap{
    padding-top: 6px;
    margin-right: 12px;
}
.article-thumb{
    height: 100%;
}

.article-item_content{
    min-width: calc(100% - 294px - 24px);
}
.text-display{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
}
.article-item_content-title{
    margin-bottom: 4px;
    max-height: 80px;
    -webkit-line-clamp: 3;
}
.article-item_content-brief{
    margin-bottom: 0;
    max-height: 120px;
    -webkit-line-clamp: 5;
}
/* -------------- */

@keyframes java {
    to {
        stroke-dashoffset: 1000;
    }
}

@keyframes spring {
    to {
        stroke-dasharray: 4000;
        stroke-dashoffset: 0;
    }
}

@keyframes line {
    to {
        stroke-dashoffset: 4000;
    }
}

.running-line {
    position: absolute;
    top: 0;
    left: -2px;
    /* Adjust this value to align the line properly */
    width: 4px;
    height: 100%;
    background-color: #ff0000;
    animation: runLine 4s linear infinite;
}

@keyframes runLine {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(100%);
    }
}