.recommend {}

.recommend_title {
    text-align: center;
    font-weight: 600;
    text-transform: capitalize;
    color: var(--text-color);
}

#footer {
    width: 100%;
}

.thumbnail-wrapper {
    height: 200px;
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(224,224,224,1) 100%);
}

.java-vec{
    stroke-width: 0.6;
    stroke: rgb(214, 114, 0);
    fill: rgb(30.588235%,47.058824%,58.823529%) ;
    stroke-dasharray: 100;
    /* stroke-dashoffset: 3000; */
    animation: java 6s ease-in-out infinite;
}
.fire-vec{
    stroke-width: 0.6;
    stroke: var(--color-blue);
    fill:  var(--color-orange);
    stroke-dasharray: 100;
    /* stroke-dashoffset: 3000; */
    animation: java 6s ease-in-out infinite;
}

.new-vector{
    fill: var(--color-blue);
    stroke-width: 1;
    stroke: var(--color-orange);
    stroke-dasharray: 100;
    /* stroke-dashoffset: 1000; */
    animation: java 4s ease-in-out infinite;
}

.spring-vec{
    fill: #77bc1f;
    stroke-width: 6;
    stroke: var(--color-orange);
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: spring 3s ease-in-out infinite;
}

.line-vec{
    stroke-width: 8;
    stroke: var(--color-blue);
    stroke-dasharray: 2000;
    stroke-dashoffset: 800;
    animation: line 2s ease-in-out infinite;
}
.line1-vec{
    stroke-width: 12;
    stroke: var(--color-orange);
    stroke-dasharray: 2000;
    stroke-dashoffset: 800;
    animation: line 2s ease-in-out infinite;
}
.thumbnail-wrapper{
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center
}
.thumbnail-wrapper:hover{
    box-shadow: rgba(0, 0, 0, 0.3) 3px 4px 4px;
}
.article-item > a{
    display: inline-block; 
    width: 100%;
    overflow: hidden;
    white-space: nowrap; 
    text-overflow: ellipsis;
    font-size: 1.3rem;
    color: var(--color-blue);
    text-transform: capitalize;
}

@keyframes java {
    to {
        stroke-dashoffset: 1000;
    }
}
@keyframes spring {
    to {
        stroke-dasharray: 4000;
        stroke-dashoffset: 0;
    }
}

@keyframes line {
    to {
        stroke-dashoffset: 4000;
    }
}
