#content-wrapper{
    padding: 12px;

}
#artile-region{
    width: 75%;
    height: 100%;
    background-color: var(--bg-color);
}

#infor-region{
    width: 23%;
    height: 100%;
    background-color:var(--bg-color);
}

.tox-tinymce{
    width: 100% !important;
    border-radius: 0px !important;
}